html,
body {
  font-family: 'Jost', sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  line-height: 27px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button{
  border: none;
  outline: none;
}